alembic==1.19.1
beautifulsoup4==4.15.0
fastapi==0.141.1
google-genai==2.18.0
httpx==0.28.1
psycopg2-binary==2.9.12
pwdlib[argon2]==0.3.1
pydantic-settings==2.15.0
PyJWT==2.13.0
pytest==9.1.1
python-dotenv==1.2.2
requests==2.34.2
SQLAlchemy==2.0.51
uvicorn==0.52.1